<div class="container">
    <h2>课表管理页面</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>编号</td>
            <td>课程</td>
            <td>教练</td>
            <td>时间</td>
            <td>顾客</td>
            <td>删除用户</td>
            <td>修改信息</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="schedule in scheduleList">
            <td>
                <div ng-hide="update[$index]">{{schedule.id}}</div>
                <div ng-show="update[$index]">{{schedule.id}}</div>
            </td>
            <td>
                <div ng-hide="update[$index]">{{schedule.course.courseName}}</div>
                <div ng-show="update[$index]">
                    <select ng-model="modifyCourse" ng-options="course.id as course.courseName for course in courseList">
                    </select>
                </div>
            </td>
            <td>
                <div ng-hide="update[$index]">{{schedule.employee.name}}</div>
                <div ng-show="update[$index]">
                    <select ng-model="modifyCoach" ng-options="coach.id as coach.name for coach in coachList">
                    </select>
                </div>
            </td>
            <td>
                <div ng-hide="update[$index]">{{schedule.time}}</div>
                <div ng-show="update[$index]"><input type="date" ng-model="modifyTime"></div>
            </td>
            <td>
                <div ng-hide="update[$index]">{{schedule.customer}}</div>
                <div ng-show="update[$index]"><input type="text" ng-model="modifyCustomer"></div>
            </td>
            <td>
                <button ng-click="delete($index,schedule.id)">删除用户</button>
            </td>
            <td>
                <button ng-hide="update[$index]" ng-click="modify($index)">修改信息</button>
                <button ng-show="update[$index]" ng-click="update($index)">更新信息</button>
            </td>
        </tr>
        </tbody>
    </table>


    <h3>添加公共课</h3>

    <form ng-submit="add()">
        <table class="table table-bordered">
            <tr>
                <td>课程</td>
                <td>教练</td>
                <td>时间</td>
                <td>顾客</td>
            </tr>
            <tr>
                <td>
                    <select ng-model="selectedCourse" ng-options="course.id as course.courseName for course in courseList">
                        <option value="">--choose a course--</option>
                    </select>
                </td>
                <td>
                    <select ng-model="selectedCoach" ng-options="coach.id as coach.name for coach in coachList">
                        <option value="">--choose a coach--</option>
                    </select>
                </td>
                <td><input type="date" name="time" ng-model="selectedTime"></td>
                <td><input type="text" name="customer" ng-model="selectedCustomer"></td>
            </tr>
        </table>
        <input type="submit" value="提交"/>
        <input type="reset" value="清空">
    </form>

</div>