<?xml version="1.0" encoding="utf-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">


    <!-- Spring配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>


    <!-- 声明WEB容器监听器，在Web容器启动时自动运行，根据contextConfigLocation参数获取Spring配置文件，并启动Spring容器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <!-- 前端分发控制器 -->
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 在WEB应用程序启动时，就会装载并创建Servlet的实例对象、以及调用Servlet实例对象的init()方法 可以同时有多个1，按容器的加载顺序执行 -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--<welcome-file-list>-->
        <!--<welcome-file>user Information.jsp</welcome-file>-->
    <!--</welcome-file-list>-->


</web-app>