<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
        <!--"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->

    <!--<session-factory>-->

        <!--&lt;!&ndash; 顯示實際操作資料庫時的SQL &ndash;&gt;-->
        <!--<property name="show_sql">true</property>-->
        <!--&lt;!&ndash; 將顯示的SQL排版，方便觀看 &ndash;&gt;-->
        <!--<property name="format_sql">true</property>-->
        <!--&lt;!&ndash; SQL方言，這邊設定的是MySQL &ndash;&gt;-->
        <!--<property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <!--&lt;!&ndash; JDBC驅動程式 &ndash;&gt;-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--&lt;!&ndash; JDBC URL &ndash;&gt;-->
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/userInfo</property>-->
        <!--&lt;!&ndash; 資料庫使用者 &ndash;&gt;-->
        <!--<property name="connection.username">root</property>-->
        <!--&lt;!&ndash; 資料庫密碼 &ndash;&gt;-->
        <!--<property name="connection.password"> </property>-->
        <!--&lt;!&ndash; Hibernate 預設的Connection pool 数据池&ndash;&gt;-->
        <!--<property name="connection.pool_size">10</property>-->

        <!--<property name="hibernate.current_session_context_class">thread</property>-->

        <!--<property name="hibernate.enable_lazy_load_no_trans">true</property>-->


        <!--&lt;!&ndash; 所有需要映射的实体都必须在这里说明 &ndash;&gt;-->
        <!--<mapping class="com.tw.core.entity.User"/>-->
        <!--<mapping class="com.tw.core.entity.Employee"/>-->
        <!--<mapping class="com.tw.core.entity.Customer"/>-->
        <!--<mapping class="com.tw.core.entity.Course"/>-->
        <!--<mapping class="com.tw.core.entity.Schedule"/>-->
    <!--</session-factory>-->

<!--</hibernate-configuration>-->